.content {
    max-width: 75em;
    margin: auto;
    background-color: #62cc6d;
}
#outerContainerHeader {
    display: flex;
	flex-direction: row;
    align-items: center;
    justify-content: center;
	margin:auto;
}
#innerContainerLogo {
	margin:auto;
	float:left;
}
#headerText {
	position: relative;
    top: 50%;
	margin:auto;
	font-size:2.5em;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
}
#myMenu {
	list-style-type: none;
	margin: auto;
	overflow: hidden;
	display: inline;
	padding: 0px;
	display: flex;
	flex-direction: row;
    align-items: center;
    justify-content: center;
}

ul {
	padding:0px;
	background-color: #62cc6d;
	font-size: 1.75em;
	font-family: Arial, Helvetica, sans-serif;
}

li {
	border-right: 2px solid #000000;
	border-left: 2px solid #000000;
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
    display: inline;
    padding-top: .19em;
	padding-bottom: .19em;
	padding-left: .19em;
	padding-right: .19em;
	font-family: Arial, Helvetica, sans-serif;
}
li:hover {
	background-color: #23752c;
}
a:visited {
	text-decoration: none; 
}
a:link {
	text-decoration: none; 
}
a:hover {
	text-decoration: none; 
}
a:active {
	text-decoration: none; 
}

