.content {
    max-width: 75em;
    margin: auto;
    background-color: #c0e38a;
}
.tableText {
	font-family: Arial, Helvetica, sans-serif;
}
#outerContainerHeader {
    display: flex;
	flex-direction: row;
    align-items: center;
    justify-content: center;
	margin:auto;
}
#innerContainerLogo {
	margin:auto;
	float:left;
}
.outerContainerAnimals {
    display: flex;
	flex-direction: row;
    align-items: center;
    justify-content: center;
	margin:auto;
	padding: 4em;
}
.innerContainerAnimals {
	margin:auto;
}
.animalPics {
	width: 20em;
	height: 20em;
}
.merchPics {
	width: 14em;
	height: 14em;
}
.centeredPic {
	width: 20em;
	height: 20em;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 33%;
}

.animalText {
	font-size:1.5em;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
}
#headerText {
	position: relative;
    top: 50%;
	margin:auto;
	font-size:2.5em;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
}
.bodyText {
	position: relative;
    top: 50%;
	margin:auto;
	font-size:2.5em;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
}
.bodyText2 {
	position: relative;
    top: 50%;
	margin:auto;
	font-size:1.8em;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
}
.bodyText3 {
	position: relative;
    top: 50%;
	margin:auto;
	font-size:1.1em;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
}
.bodyHTML {
	padding:0px;
	margin:0px;
}
.footer {
	background-color: #000000;
	
}
.footerText {
	color:white;
	font-size:1.2em;
}
.footerHome {
	text-decoration:none; 
	color:white;
	float:right;
	font-size:1.2em;

}
#myMenu {
	list-style-type: none;
	margin: auto;
	overflow: hidden;
	display: inline;
	padding: 0px;
	display: flex;
	flex-direction: row;
    align-items: center;
    justify-content: center;
}

ul {
	padding:0px;
	background-color: #c0e38a;
	font-size: 1.75em;
	font-family: Arial, Helvetica, sans-serif;
}

li {
	border-right: 2px solid #000000;
	border-left: 2px solid #000000;
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
    display: inline;
    padding-top: .19em;
	padding-bottom: .19em;
	padding-left: .19em;
	padding-right: .19em;
	font-family: Arial, Helvetica, sans-serif;
}
li:hover {
	background-color: #8bab59;
}
a:visited {
	text-decoration: none; 
}
a:link {
	text-decoration: none; 
}
a:hover {
	text-decoration: none; 
}
a:active {
	text-decoration: none; 
}
th{
	font-size:1.3em;
	font-weight: bold;
}
tr{
	font-size:1.1em;
	font-weight: bold;
}
table, th, td {
  border: 1px solid black;
}

