.myMenu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: inline;
}
.JJLogo {
	float:right
}
.content {
	align:center
}
li {
  display: inline;
  color:red;
}
li:hover {
	  color: green;
}